/* You can add global styles to this file, and also import other style files */
.fast {
  -webkit-animation-duration: 0.3s;
  animated-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  // border: 1px solid red !important;
}

#themecolors .selector,
.cursor {
  cursor: pointer;
}

#google-btn {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.img-avatar {
  width: 200px;
  height: 200px;
}
